BODY { background: white; color: black }
EM.newsdate { color: red; font-style: normal }
TD.titlerow { background: #66f; color: white }
TD.contentcol { background: #ccf; color: black }
TD.logo {background: white: color: black }
//A.titlerowlink { padding: 10,5; background: white; color: black }
